:root {
    --almost-white: hsl(0, 0%, 98%);
    --medium-gray: hsl(0, 0%, 41%);
    --almost-black: hsl(0, 0%, 8%);
}
html {
    font-size: 62.5%;
    font-family: 'Epilogue', sans-serif;
}
* {
    box-sizing: border-box;
    margin: 0;
    padding: 0;
}
body {
    font-size: 1.4rem;
}
header ul {
    display: flex;
    width: 100%;
    height: 10vh;
    justify-content: space-between;
    align-items: center;
    list-style: none;
}
header ul li img {
    margin: 10px
}
section {
    display: grid;
    grid-template-rows: repeat(2, auto);
    width: 100%; 
    text-align: center;  
}
section img {
    width: 100%;
}
.informacion {
    padding: 10px;
}
.informacion .titulo {
    margin: 20px 0;
    font-size: 3rem;
}
.informacion .texto {
    color: var(--medium-gray);
    line-height: 1.5;
}
.informacion button {
    margin: 20px 0;
    padding: 10px;    
    font-weight: bold;
    color: var(--almost-white);
    background-color: var(--almost-black);
    border-radius: 10px;
    border: none;
}