/* GENERAL */
:root {
    --almost-white: hsl(0, 0%, 98%);
    --medium-gray: hsl(0, 0%, 41%);
    --almost-black: hsl(0, 0%, 8%);
}
html {
    font-size: 62.5%;
    font-family: 'Epilogue', sans-serif;
}
* {
    box-sizing: border-box;
    margin: 0;
    padding: 0;
}
body {
    display: flex;
    flex-direction: column; 
    margin: 0 auto;
    max-width: 500px;
    min-height: 100vh;
    background-color: var(--almost-white);
    font-size: 1.4rem;
}
button {
    font-family:  'Epilogue', sans-serif;
}
ul {
    list-style: none;
}
.inactive {
    display: none;
}

/* HEADER */
header {
    width: 100%;
    height: 10vh;
}
header nav {
    position: relative;
    height: 100%;
    margin: 0 20px;
}
header nav ul:nth-child(1) {
    height: 100%;
    display: flex;
    justify-content: space-between;
    align-items: center;
}
.logo {
    width: 70px;
}
.icono-menu {
    width: 30px;
}
.nav-desktop {
    display: none;
}
#nav-mobile {
    position: absolute;
    top: 0;
    left: 100%;
    width: 65%;
    max-width: 300px;
    height: 100vh;
    background-color: var(--almost-white);
    transition-property: transform;
    transition-duration: 1s;
}
.mostrar-nav-mobile {
    transform: translateX(-100%);
}
#nav-mobile div {
    display: flex;
    flex-direction: column;
}
#nav-mobile li {
    color: var(--medium-gray);
    margin: 20px;
}
#nav-mobile li:active {
    color: var(--almost-black);
}
#nav-mobile li span {
    display: inline-block;
    width: 10px;
    height: 6px;
    margin-left: 5px;
    background-image: url("https://res.cloudinary.com/dwog1xmvw/image/upload/v1667099887/FrontendMentor/NavegacionDesplegable-FM/icon-arrow-down_nxnegu.svg");
    background-repeat: no-repeat;
}
#nav-mobile li:active span {
    background-image: url("https://res.cloudinary.com/dwog1xmvw/image/upload/v1667099887/FrontendMentor/NavegacionDesplegable-FM/icon-arrow-up_fhpumy.svg");
}
#nav-mobile #nav-mobile-caracteristicas li {
    margin: 20px 20px 0 20px;
}
#nav-mobile #nav-mobile-caracteristicas span {
    display: inline-block;
    width: 17px;
    height: 17px;
    background-repeat: no-repeat;
}
#nav-mobile-caracteristicas li:nth-child(1) span {
    background-image: url("https://res.cloudinary.com/dwog1xmvw/image/upload/v1667099889/FrontendMentor/NavegacionDesplegable-FM/icon-todo_rt3d2q.svg");
}
#nav-mobile-caracteristicas li:nth-child(2) span {
    background-image: url("https://res.cloudinary.com/dwog1xmvw/image/upload/v1667099887/FrontendMentor/NavegacionDesplegable-FM/icon-calendar_izcgi4.svg");
}
#nav-mobile-caracteristicas li:nth-child(3) span {
    background-image: url("https://res.cloudinary.com/dwog1xmvw/image/upload/v1667099889/FrontendMentor/NavegacionDesplegable-FM/icon-reminders_jaxqbl.svg")
}
#nav-mobile-caracteristicas li:nth-child(4) span {
    background-image: url("https://res.cloudinary.com/dwog1xmvw/image/upload/v1667099889/FrontendMentor/NavegacionDesplegable-FM/icon-planning_exltb2.svg");
}
#cerrar-nav-mobile {
    align-self: end;
    width: 26px;
    height: 26px;
    background-image: url("https://res.cloudinary.com/dwog1xmvw/image/upload/v1667099887/FrontendMentor/NavegacionDesplegable-FM/icon-close-menu_cmiwpk.svg");
    background-repeat: no-repeat;
}
#nav-mobile button {
    padding: 10px;
    margin: 10px;
    border: 2px solid var(--medium-gray);
    border-radius: 10px;
    background-color: transparent;
    color: var(--medium-gray);
}
#nav-mobile button:active {
    border-color: var(--almost-black);
    color: var(--almost-black);
}

/* MAIN */
section {
    display: grid;
    grid-template-rows: repeat(2, auto);
    width: 100%; 
    text-align: center;  
}
section img {
    width: 100%;
}
.informacion {
    padding: 10px;
}
.informacion .titulo {
    margin: 20px 0;
    font-size: 3rem;
}
.informacion .texto {
    color: var(--medium-gray);
    line-height: 1.5;
}
.informacion button {
    width: 150px;
    margin: 20px 0;
    padding: 15px;    
    font-weight: bold;
    color: var(--almost-white);
    background-color: var(--almost-black);
    border-radius: 10px;
    border: 2px solid var(--almost-black); 
    transition-property: color, background-color;
    transition-duration: 500ms;
}
@media (hover: hover) {
    .informacion button:hover {
        cursor: pointer;
        color: var(--almost-black);
        background-color: var(--almost-white);
    }
}
.informacion button:active {
    color: var(--almost-black);
    background: var(--almost-white);
}
.marcas {
    width: 100%;
    height: 10vh;
    display: flex;
    justify-content: space-between;
    align-items: center;    
}
.informacion ul li img {
    width: 60px;
}
.informacion .audio-phile {
    width: 40px;
}

/* FOOTER */
footer {
    width: 100%;
    height: 10vh;
    margin-top: auto;
    background-color: var(--light-gray);
    border-top: 1px solid var(--medium-gray);
}
footer ul {
    display: flex;
    align-items: center;
    justify-content: space-around;    
    height: 100%;      
    font-size: 1.6rem;   
}
footer ul li a{
    text-decoration: none;
}
footer ul li img {
    width: 30px;
}
