/* GENERAL */
:root {
    --almost-white: hsl(0, 0%, 98%);
    --medium-gray: hsl(0, 0%, 41%);
    --almost-black: hsl(0, 0%, 8%);
}
html {
    font-size: 62.5%;
    font-family: 'Epilogue', sans-serif;
}
* {
    box-sizing: border-box;
    margin: 0;
    padding: 0;
}
body {
    display: flex;
    flex-direction: column; 
    margin: 0 auto;
    font-size: 1.4rem;
    max-width: 508px;
    min-height: 100vh;
}
button {
    font-family:  'Epilogue', sans-serif;
}
ul {
    list-style: none;
}
.inactive {
    display: none;
}

/* HEADER */
header {
    width: 100%;
    height: 10vh;
}
header nav {
    height: 100%;
    margin: 0 20px;
}
header nav ul:nth-child(1) {
    height: 100%;
    display: flex;
    justify-content: space-between;
    align-items: center;
}
.logo {
    width: 70px;
}
.icono-menu {
    width: 30px;
}
.nav-desktop {
    display: none;
}

/* MAIN */
section {
    display: grid;
    grid-template-rows: repeat(2, auto);
    width: 100%; 
    text-align: center;  
}
section img {
    width: 100%;
}
.informacion {
    padding: 10px;
}
.informacion .titulo {
    margin: 20px 0;
    font-size: 3rem;
}
.informacion .texto {
    color: var(--medium-gray);
    line-height: 1.5;
}
.informacion button {
    width: 150px;
    margin: 20px 0;
    padding: 15px;    
    font-weight: bold;
    color: var(--almost-white);
    background-color: var(--almost-black);
    border-radius: 10px;
    border: 2px solid var(--almost-black); 
    transition: color 500ms ease-in-out;
    transition: background 500ms ease-out;
}
.informacion button:hover {
    cursor: pointer;
    color: var(--almost-black);
    background: var(--almost-white);
}
.marcas {
    width: 100%;
    height: 10vh;
    display: flex;
    justify-content: space-between;
    align-items: center;    
}
.informacion ul li img {
    width: 60px;
}
.informacion .audio-phile {
    width: 40px;
}

/* FOOTER */
footer {
    width: 100%;
    height: 10vh;
    margin-top: auto;
    background-color: var(--light-gray);
    border-top: 1px solid var(--medium-gray);
}
footer ul {
    display: flex;
    align-items: center;
    justify-content: space-around;    
    height: 100%;      
    font-size: 1.6rem;   
}
footer ul li a{
    text-decoration: none;
}
footer ul li img {
    width: 30px;
}