/* GENERAL */
body {
    max-width: 1200px;
}

/* HEADER */
header nav {
    display: grid;
    grid-template-columns: auto 3fr 2fr;
}
.icono-menu {
    display: none;
}
.nav-mobile {
    margin-right: 40px;
}
.nav-desktop {
    display: flex;
    align-items: center;
    width: 100%
}
.nav-desktop li {
    color: var(--medium-gray);
}
.nav-desktop li:hover {
    color: var(--almost-black);
    cursor: pointer;
}
.nav-desktop li span {
    width: 10px;
    height: 10px;
    display: inline-block;
    background-image: url("https://res.cloudinary.com/dwog1xmvw/image/upload/v1667099887/FrontendMentor/NavegacionDesplegable-FM/icon-arrow-down_nxnegu.svg");
    background-repeat: no-repeat;
    margin-left: 5px;
}
.nav-desktop li:hover span {
    background-image: url("https://res.cloudinary.com/dwog1xmvw/image/upload/v1667099887/FrontendMentor/NavegacionDesplegable-FM/icon-arrow-up_fhpumy.svg");
    background-repeat: no-repeat;
}
.nav-izquierdo {
    justify-content: space-around;
}
.nav-izquierdo li {
    margin-left: 5px;
}
.nav-derecho {
    justify-content: flex-end;
}
.nav-derecho li button {
    margin-left: 30px;
    padding: 10px;    
    font-weight: 500;
    color: var(--medium-gray);
    background: transparent;
    border-radius: 10px;
    border: 2px solid var(--medium-gray);
}
.nav-derecho li button:hover {
    color: var(--almost-black);
    border: 2px solid var(--almost-black);
    cursor: pointer;
}
.nav-izquierdo li:nth-child(1):hover #nav-desktop-caracteristicas{
    display: inline-block;
}
#nav-desktop-caracteristicas {
    position: absolute;
    top: 63px;
    left: 150px;
    z-index: 2;
    width: 150px;
    height: auto;
    border-radius: 10px;
    background-color: var(--white);
    box-shadow: 0 0 10px var(--almost-black);
}
#nav-desktop-caracteristicas li {
    margin: 10px;
}
#nav-desktop-caracteristicas span {
    display: inline-block;
    width: 17px;
    height: 17px;
    background-repeat: no-repeat;
}
#nav-desktop-caracteristicas li:nth-child(1) span {
    background-image: url("https://res.cloudinary.com/dwog1xmvw/image/upload/v1667099889/FrontendMentor/NavegacionDesplegable-FM/icon-todo_rt3d2q.svg");
}
#nav-desktop-caracteristicas li:nth-child(2) span {
    background-image: url("https://res.cloudinary.com/dwog1xmvw/image/upload/v1667099887/FrontendMentor/NavegacionDesplegable-FM/icon-calendar_izcgi4.svg");
}
#nav-desktop-caracteristicas li:nth-child(3) span {
    background-image: url("https://res.cloudinary.com/dwog1xmvw/image/upload/v1667099889/FrontendMentor/NavegacionDesplegable-FM/icon-reminders_jaxqbl.svg")
}
#nav-desktop-caracteristicas li:nth-child(4) span {
    background-image: url("https://res.cloudinary.com/dwog1xmvw/image/upload/v1667099889/FrontendMentor/NavegacionDesplegable-FM/icon-planning_exltb2.svg");
}


/* MAIN */
section {
    padding: 10px;
    grid-template-columns: 3fr 2fr;
    max-width: 1000px;
    margin: 0 auto;
}
section picture img {
    width: 100%;
}
section .informacion {
    display: grid;
    align-items: center;
    grid-area: 1 / 1 / 2 / 2;
    text-align: start;    
}
section .informacion .titulo {
    font-size: 6rem;
    margin-top: 75px;
}
